<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504184172499-q8i5a83uc829p74i8bc538kdv8fkv8ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504184172499-q8i5a83uc829p74i8bc538kdv8fkv8ph</string>
	<key>API_KEY</key>
	<string>AIzaSyCPtz1CgzAm3p6TxMeouCHt1nDWdF_7uwc</string>
	<key>GCM_SENDER_ID</key>
	<string>504184172499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jabaridash.notes</string>
	<key>PROJECT_ID</key>
	<string>notes-574cb</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-574cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504184172499:ios:30f9a364f3303cc1</string>
	<key>DATABASE_URL</key>
	<string>https://notes-574cb.firebaseio.com</string>
</dict>
</plist>